header {
    width: 100%;
    display: flex;
    align-items: center;
}
.header__title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bolder;
    color: #00f;
}
.header__menu {
    margin-left: 950px;
    white-space: nowrap;
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 0 0 0 15px;
    color: #00f;
}
main {
    position: relative;
}
.main__title {
    font-size: 60px;
    font-weight: lighter;
    margin: 400px 0 0 0;
    position: absolute;
}
img {
    width: 820px;
    height: 450px;
    position: absolute;
    top: 100px;
    left: 700px;
    z-index: 2;
}
.below {
    background-color: #00f;
    height: 150px;
    width: 1000px;
    position: absolute;
    top: 470px;
    z-index: 1;
    
}